<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854889946914-vcghih0tfbfb3alkeik8icvr4h72nnuj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854889946914-vcghih0tfbfb3alkeik8icvr4h72nnuj</string>
	<key>API_KEY</key>
	<string>AIzaSyA_lLdSoA6n6rCkKthgRvh7rw74vllDoBU</string>
	<key>GCM_SENDER_ID</key>
	<string>854889946914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocMvvmPocApp</string>
	<key>PROJECT_ID</key>
	<string>blocpocfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>blocpocfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854889946914:ios:245115ca8be8b0c2078f7b</string>
</dict>
</plist>